@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181818;
}

#mobile-menu {
  transition: all 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

#mobile-menu.hidden {
  max-height: 0;
}

#mobile-menu:not(.hidden) {
  max-height: 1000px; /* Или любое другое значение, достаточно большое для вашего меню */
}
